NET "CLK" LOC = "E3" | IOSTANDARD =LVTTL | PULLUP;

NET "PRESETn" LOC = "A10" | IOSTANDARD =LVTTL;
NET "PSEL" LOC = "C10" | IOSTANDARD =LVTTL;
NET "PENABLE" LOC = "C11" | IOSTANDARD =LVTTL;
NET "PWrite" LOC = "A8" | IOSTANDARD =LVTTL;

NET "i2c_scl" LOC = "L18" | IOSTANDARD =LVTTL;
NET "i2c_sda" LOC = "M18" | IOSTANDARD =LVTTL;


NET "PREADY" LOC = "H5" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;


NET "PADDR[0]" LOC = "V15" | IOSTANDARD =LVTTL; #Sch=ck_io[0]
NET "PADDR[1]" LOC = "U16" | IOSTANDARD =LVTTL; #Sch=ck_io[1]
NET "PADDR[2]" LOC = "P14" | IOSTANDARD =LVTTL; #Sch=ck_io[2]
NET "PADDR[3]" LOC = "T11" | IOSTANDARD =LVTTL; #Sch=ck_io[3]
NET "PADDR[4]" LOC = "R12" | IOSTANDARD =LVTTL; #Sch=ck_io[4]
NET "PADDR[5]" LOC = "T14" | IOSTANDARD =LVTTL; #Sch=ck_io[5]
NET "PADDR[6]" LOC = "T15" | IOSTANDARD =LVTTL; #Sch=ck_io[6]
NET "PADDR[7]" LOC = "T16" | IOSTANDARD =LVTTL; #Sch=ck_io[7]

NET "PWDATA[0]" LOC = "N15" | IOSTANDARD =LVTTL; #Sch=ck_io[8]
NET "PWDATA[1]" LOC = "M16" | IOSTANDARD =LVTTL ; #Sch=ck_io[9]
NET "PWDATA[2]" LOC = "V17" | IOSTANDARD =LVTTL ; #Sch=ck_io[10]
NET "PWDATA[3]" LOC = "U18" | IOSTANDARD =LVTTL ; #Sch=ck_io[11]
NET "PWDATA[4]" LOC = "R17" | IOSTANDARD =LVTTL ; #Sch=ck_io[12]
NET "PWDATA[5]" LOC = "P17" | IOSTANDARD =LVTTL ; #Sch=ck_io[13]
NET "PWDATA[6]" LOC = "U11" | IOSTANDARD =LVTTL; #Sch=ck_io[26]
NET "PWDATA[7]" LOC = "V16" | IOSTANDARD =LVTTL; #Sch=ck_io[27]


NET "PRDATA[7]" LOC = "F6" | IOSTANDARD =LVTTL;
NET "PRDATA[6]" LOC = "J4" | IOSTANDARD =LVTTL;
NET "PRDATA[5]" LOC = "J2" | IOSTANDARD =LVTTL;
NET "PRDATA[4]" LOC = "H6" | IOSTANDARD =LVTTL;
NET "PRDATA[3]" LOC = "E1" | IOSTANDARD =LVTTL;
NET "PRDATA[2]" LOC = "G4" | IOSTANDARD =LVTTL;
NET "PRDATA[1]" LOC = "H4" | IOSTANDARD =LVTTL;
NET "PRDATA[0]" LOC = "K2" | IOSTANDARD =LVTTL;

