NET "PCLK" LOC = "E3" | IOSTANDARD =LVTTL | PULLUP;

NET "PRESETn" LOC = "A10" | IOSTANDARD =LVTTL;
NET "PSEL" LOC = "C10" | IOSTANDARD =LVTTL;
NET "PENABLE" LOC = "C11" | IOSTANDARD =LVTTL;
NET "PWrite" LOC = "A8" | IOSTANDARD =LVTTL;

NET "i2c_scl" LOC = "L18" | IOSTANDARD =LVTTL;
NET "i2c_sda" LOC = "M18" | IOSTANDARD =LVTTL;


NET "PREADY" LOC = "H5" | IOSTANDARD =LVTTL | SLEW=SLOW | DRIVE=8;


NET "ADDRE[2]" LOC = "T10" | IOSTANDARD =LVTTL;
NET "ADDRE[1]" LOC = "T9" | IOSTANDARD =LVTTL;
NET "ADDRE[0]" LOC = "J5" | IOSTANDARD =LVTTL;



NET "button[3]" LOC = "B8" | IOSTANDARD =LVTTL;
NET "button[2]" LOC = "B9" | IOSTANDARD =LVTTL;
NET "button[1]" LOC = "C9" | IOSTANDARD =LVTTL;
NET "button[0]" LOC = "D9" | IOSTANDARD =LVTTL;



NET "DATA[7]" LOC = "F6" | IOSTANDARD =LVTTL ;
NET "DATA[6]" LOC = "J4" | IOSTANDARD =LVTTL ;
NET "DATA[5]" LOC = "J2" | IOSTANDARD =LVTTL;
NET "DATA[4]" LOC = "H6" | IOSTANDARD =LVTTL;

NET "DATA[3]" LOC = "E1" | IOSTANDARD =LVTTL ;
NET "DATA[2]" LOC = "G4" | IOSTANDARD =LVTTL ;
NET "DATA[1]" LOC = "H4" | IOSTANDARD =LVTTL;
NET "DATA[0]" LOC = "K2" | IOSTANDARD =LVTTL;
